# Credentials and Sessions
.env
*.session
*.session-journal

# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Data and Logs
data/
data/raw/
logs/*.log

# VS Code settings
.vscode/