# Credentials and Sessions
.env
*.session
*.session-journal

# Python Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Data and Logs
data/
data/raw/
logs/*.log

# VS Code settings
.vscode/

medical_warehouse/target/
medical_warehouse/dbt_packages/
medical_warehouse/logs/
medical_warehouse/dbt_modules/


*.pt


# Dagster temporary files
.tmp_dagster_home_*
*.db
*.complete
*.err
*.out
storage/